.card-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #5dafb8;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  height: 50vh;
  width: 35vh;
  border-radius: 13px;
  box-shadow: 20px 40px 33px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  background-color: #75b2c5;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
  background-image: linear-gradient(70deg, RoyalBlue, DarkTurquoise);
  box-shadow: 10px 15px 15px 6px #3891b4;
  border-radius: 15px;
  font-size: 15vh;
}

.card h2 {
  font-size: 5vh;
}

.card p {
  font-size: 3vh;
}